body {
    background: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
}

.header {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bolder;
    font-family: karla sans-serif !important;
}

#head1 {
    color: #fff;    
    margin-top: 80px;
    margin-bottom: 0px;
    
}

#head2 {
    color: #4ADF86;
    margin-top: 0px;
    margin-bottom: 10px;
}

p{
    color: #D5D4D8;
    font-size: 25px;
    font-family: inter karla sans-serif !important;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 12px;
}

#p2 {
    margin-top: 10px;
}

#length {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-evenly;
}

#password-length {
    color: #D5D4D8;
    font-size: 25px;
    font-family: inter karla sans-serif !important;
    font-weight: normal;
    margin-left: 10px;
    width: 200px;
    background-color: #273549;
    border: none;
    border-bottom: 4px solid #4ADF86;
    text-align: center;
}

#password-length:focus {
    outline: none;
}


.checkbox-container {
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: x-large;
    color: #D5D4D8;
    font-family: inter karla sans-serif !important;
    display: flex;
    align-items: center;
    padding-left: 11px;
}

h3 {
    margin-top: 0px;
    margin-right: 10px;
}

form {
    display: flex;
    margin-top: 15px;
  }
  
  .form-group {
    display: block;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    padding:-2px;
    top: 6px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

button {
  border-radius: 10px;
  background-color: #4ADF86;
  border: 3px solid #4ADF86;
  color: #273549;
  text-align: center;
  font-size: 32px;
  padding: 5px;
  width: 200px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  margin-top: 0px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-left: 10px;
  margin-bottom: 25px;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

.password-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: space-evenly;
  margin-left: 12px;
  padding-top: 0px;
}

#password{
  color: #4ADF86;
  font-size: 25px;
  font-family: inter karla sans-serif !important;
  font-weight: normal;
  width: 300px;
  background-color: #273549;
  border: none;
  border-bottom: 4px solid #4ADF86;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

#password:focus {
  outline: none;
}

#password2{
  color: #4ADF86;
  font-size: 25px;
  font-family: inter karla sans-serif !important;
  font-weight: normal;
  width: 300px;
  background-color: #273549;
  border: none;
  border-bottom: 4px solid #4ADF86;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 15px;
}

#password2:focus {
  outline: none;
}

#passwordCopy1 {
  color: #D5D4D8;
  font-size: 20px;
  font-family: inter karla sans-serif !important;
  font-weight: normal;
  background-color: #273549;
  border: none;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 15px;
}

#passwordCopy2 {
  color: #D5D4D8;
  font-size: 20px;
  font-family: inter karla sans-serif !important;
  font-weight: normal;
  background-color: #273549;
  border: none;
  margin-bottom: 0px;
  margin-top: 0px;
}
